        <form method="get" action="quizes?search=value" accept-charset="UTF-8">
          <% if (texto==='Texto a buscar') { %>
          <input type="text" name="search" id="s1" value="Texto a buscar" SIZE="40" />
           <% } else { %>
          <input type="text" name="search" id="s1" value=<%=texto%> SIZE="40" />
          <% } %>
         <input type="submit" value="Buscar"/>
        </form>       

       <table> 
        <% var i;for (i=0;i<quizes.length;i++){%>
         <tr>
         <td><a href="quizes/<%=quizes[i].id %>"><%=quizes[i].pregunta %></a></td>
         <td><a href="quizes/<%=quizes[i].id %>/edit"><button>editar</button></a></td>
         <td>
          <form method="post" action="quizes/<%=quizes[i].id %>?_method=delete" accept-charset="UTF-8">
          <button type="submit" onClick="return confirm('Borrar:<%=quizes[i].pregunta %>');">
          borar
          </button>
          </form>
         </td>
         </tr>

         <% } %>
        </table>  
 <a href="/quizes/new"> <button type="button">Crear pregunta</button></a>